abnf==2.2.0
adbutils==2.8.0
aioquic==1.2.0
altair==6.0.0
annotated-types==0.7.0
anyio==4.13.0
apkutils2==1.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==3.0.1
attrs==25.3.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.14.2
bleach==6.3.0
blinker==1.9.0
Brotli==1.1.0
cachetools==6.2.4
certifi==2024.8.30
cffi==1.17.1
chardet==7.4.3
charset-normalizer==3.3.2
cigam==0.0.3
cint==1.0.0
click==8.2.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.3
cycler==0.12.1
dacite==1.9.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
diskcache-weave==5.6.3.post1
Django==5.1
django-tastypie==0.14.7
docopt==0.6.2
et_xmlfile==2.0.0
executing==2.2.1
Farama-Notifications==0.0.6
fastjsonschema==2.21.2
fickling==0.1.11
filelock==3.29.0
filetype==1.2.0
Flask==3.1.0
fonttools==4.55.3
fsspec==2026.4.0
gitdb==4.0.12
GitPython==3.1.45
gql==4.0.0
graphql-core==3.2.8
graphviz==0.21
gunicorn==23.0.0
gymnasium==1.3.0
h11==0.16.0
h2==4.1.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.8
ImageHash==4.3.2
intervaltree==3.2.1
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyterlab_pygments==0.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
kaitaistruct==0.11
kiwisolver==1.4.8
ldap3==2.9.1
llvmlite==0.45.1
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.2.1
minify_html==0.18.1
mistune==3.1.4
mitmproxy==12.1.1
mitmproxy_rs==0.12.6
mitmproxy-windows==0.12.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.7.1
multimethod==1.12
narwhals==2.14.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.6.1
numba==0.62.1
numpy==2.1.1
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.1
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
passlib==1.7.4
patsy==1.0.2
pdfminer.six==20260107
phik==0.12.5
pickleshare==0.7.5
pillow==10.4.0
pip==26.1.1
pipreqs==0.5.0
platformdirs==4.5.0
plotly==6.5.0
polyfile-weave==0.5.9
prompt_toolkit==3.0.52
propcache==0.5.2
protobuf==6.33.2
psutil==7.0.0
publicsuffix2==2.20191221
puremagic==2.2.0
pure_eval==0.2.3
py==1.11.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.13.3
pydantic_core==2.46.3
pydeck==0.9.1
pydivert==2.1.0
pyelftools==0.31
pygame==2.6.1
Pygments==2.19.2
pylsqpack==0.3.22
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyperclip==1.9.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-mimeparse==2.0.0
pytz==2025.2
PyWavelets==1.9.0
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.3
retry==0.9.2
rpds-py==0.28.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
sentry-sdk==2.59.0
service-identity==24.2.0
setuptools==81.0.0
six==1.16.0
smmap==5.0.2
sortedcontainers==2.4.0
soupsieve==2.8
sqlparse==0.5.1
stack-data==0.6.3
statsmodels==0.14.6
streamlit==1.52.2
streamlit-autorefresh==1.0.1
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
torch==2.11.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
typeguard==4.5.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2024.1
urllib3==2.2.2
urwid==2.6.16
visions==0.8.1
wandb==0.26.1
watchdog==6.0.0
wcwidth==0.2.13
weave==0.52.38
webencodings==0.5.1
Werkzeug==3.1.3
whitenoise==6.7.0
wordcloud==1.9.6
wsproto==1.2.0
xmltodict==0.13.0
yarg==0.1.9
yarl==1.23.0
ydata-profiling==4.18.4
zstandard==0.23.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.7.1
jaraco.text==4.0.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
more-itertools==10.8.0
packaging==26.0
platformdirs==4.4.0
tomli==2.4.0
wheel==0.46.3
zipp==3.23.0
